.barron-contact .sexy-field input[type=text] {
    position: relative;
    width: 90% !important;
    bottom: 30px;
}

div.wpforms-container-full .wpforms-form select.wpforms-field-large {
    width: 93% !important;
}

input#sexy-input-0 {
    width: 96% !important;
}

input {
    border: none !important;
    border-bottom: solid 1px #EAEBEA !important;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) !important;
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) !important;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #765668 4%) !important;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #765668 4%) !important;
    background-position: -1000px 0 !important;
    background-size: 1000px 100% !important;
    background-repeat: no-repeat !important;
    color: white !important;
}

input:focus {
    box-shadow: none !important;
    outline: none !important;
    background-position: 0 0 !important;
}
input[type=text]:focus::-webkit-input-placeholder {
    font-size: 11px !important;
    -webkit-transform: translateY(-10px) !important;
    transform: translateY(-10px) !important;
    visibility: visible !important;
    color: white !important;
}

input[type=text]::-webkit-input-placeholder {
    font-family: 'roboto', sans-serif;
    -webkit-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}

div.wpforms-container-full .wpforms-form .wpforms-field {
    padding: 20px 0 !important;
}